extends layout

block layout-content
  h1.text-center Administer Directory Projects 
  div.m-3.text-end
    a.btn.btn-primary.my-3(href="/admin/project/add",style="width: 28rem;") + Add new project
    table.table.table-striped.text-center
      thead.text-content-center.fs-3.table-dark
        th(style="width: 10rem;") Image
        th Project
        th Author
        th Operation 
      tbody.fs-4 
        each proj in directory
          tr 
            td.d-flex.justify-content-center.align-middle
              img.rounded(src="/img/" + proj.screen)
            td.align-middle #{proj.website_name}
            td.align-middle #{proj.Github_username}
            td.align-middle
              form(method="get", action="deleteConfirm")
                input(type="hidden", name="projId", value=proj._id)
                button.btn.btn-outline-primary.w-100(type="button" onclick=`confirmDelete('${proj._id}')`) Delete
              form(action="/admin/project/edit") 
                input(type="hidden", name="projId", value=proj._id) 
                button.btn.btn-outline-primary.w-100.my-2(type="submit") Edit

block scripts
  script(src="/script/confirmDelete.js")